.container{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 25px calc(100vh - 225px) 150px;
    grid-template-areas:"one one two two two"
                        "three three three three three"
                        "four five five five five"
                        "four six six six six";
}
.one{
    grid-area: one;
    background-color: yellow;
}
.two{
    grid-area: two;
    background-color:cyan;
}
.three{
    grid-area: three;
    background-color: green;
}
.four{
    grid-area: four;
    background-color: brown;
}
.five{
    grid-area: five;
    background-color: blue;
}
.six{
    grid-area: six;
    background-color: violet;
}