:root{
    --el-main-color:#00a9ff;
    --el-secondary-color:#89cff3;
    --el-link-color:#00a9ff;
    --el-link-hover-color:#00a9ff;
    --el-background-color:#cdf5fd;
}
body{
    background-color: var(--el-background-color);
    height: 2000px;
}