.container{
    height: 100%;
    display:grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 150px calc(100vh - 250px) 100px;
    grid-template-areas:
    "header header"
    "main slidebar"
    "footer footer";
}
.header{
    grid-area: header;
    background-color: aquamarine;
}
.main{
    grid-area: main;
    background-color: black;
}
.slidebar{
    grid-area: slidebar;
    background-color: blueviolet;
}
.footer{
    grid-area: footer;
    background-color: gray;
}